.padding {
    padding: 10px;
    text-decoration: none;
    color: black;

}

.padding:hover {
    color: black;
}

.button1 {
    margin-right: 10px;
}

.bg {
    background-color: white;
    text-align: center;
    position: fixed;
    z-index: 1;
    padding-top: 20px;

}

.lineheight {
    line-height: 43px;
    margin: 0 auto;
}

.nav-content-center {
    justify-content: space-between;
}