.back{
    margin: 0 auto;

}
.slide-background{
    height: 500px;
    width: 100%;
    object-fit: cover;
    
}
.image-center{
    text-align: center; 
    object-fit: cover;
    overflow: hidden;
}
.card img{
    height: 250px;
 
}
.slide2-widtrh{
    border: none;
}
.slide-width h1{
    font-size: 48px;
  
}
.slide-width h3{
    font-size: 20px;
  
}

@media only screen and (max-width:767px){
    .slide-background{
        height: 1200px;
    }    
    
} 